.productAdmin-wrapper {
    background-color: #f6faff;
    padding: 30px;
    min-height: calc(100vh - 100px);
    position: relative;

    .productAdmin-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 15px 20px;
        
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
        .link-item {
            color: initial;
            text-decoration: none;
        }
        .heading-title {
            font-size: 18px;
            font-weight: bold;
        }
        .user-deleted {
            background-color: #ffc107;
            color: black;
            padding: 8px 14px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: #d7a614;
            }
        }
        .add-product {
            background-color: #10d32d;
            color: white;
            text-decoration: none;
            padding: 8px 14px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: #0fac27;
            }
        }
    }


}