.row-userItem {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ccc;

    .col-item {
        flex: 1;
        padding: 10px;
        text-align: center;
        
    }


    .col-item-2 {
        flex: 2;
        padding: 10px;
        &.col-img-name {
            display: flex;
            align-items: center;
            gap: 10px;
            .avatar-user {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }
            .name-user {
                font-size: 16px;
                color: black;
            }
        }
        &.col-action-admin {
            display: flex;
            
            align-items: center;
            gap: 15px;
            .btn-action {
                padding: 6px 12px;
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
                color: white;
                text-decoration: none;
                &.btn-view {
                    background-color: #007bff;
                    &:hover {
                        background-color: #1072db;
                    }
                }
                &.btn-remove {
                    background-color: #dc3545;
                    &:hover {
                        background-color: #a92633;
                    }
                }
                &.btn-undo {
                    background-color: #6c757d;
                    &:hover {
                        background-color: #5a5d60;
                    }
                }
                &.btn-edit {
                    background-color: #28a745;
                    &:hover {
                        background-color: #239e40;
                    }
                }
                
            }
        }
    }
}