.product-item {
    margin-bottom: 10px;
    .product-name {
        font-size: 16px;
        font-weight: bold;
    }
    .product-properties {
        display: flex;
        gap: 20px;
        align-items: center;
        .quantity-product {
            color: red;
            font-size: 16px;
            font-weight: 800;
        }
        
    }
}